/*
=============== 
Fonts
===============
*/

@import url("https://use.typekit.net/cbg5juo.css");

/*
=============== 
Variables
===============
*/

/* Fonts */
$font-primary: ff-real-headline-pro;
$font-secondary: ff-real-text-pro;

/* Colors */
$clr-white: #fcf9f8;
$clr-black: #0f0f0f;
$clr-grey: #4d4d48;
$clr-outline: #e7e5e4;

$transition: all 0.3s ease-in;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-secondary;
  background-color: $clr-black;
  line-height: 1.5;
  font-size: clamp(0.875rem, 2vw, 1rem);
  font-weight: 300;
  letter-spacing: 0.01vw;
  overscroll-behavior: none;
}
ul {
  list-style-type: none;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: $clr-tint;
  transition: $transition;
  // Style for react-router <NavLink />
  &.active {
    color: #999;
  }
}
a:hover {
  color: $clr-white;
}

img {
  display: block;
}
button,
button:focus {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  // border-radius: 25% 10%;
  // border-radius: 10px;
}

button:active {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  // text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
  font-weight: 800;
}
h1 {
  font-size: clamp(3.8rem, 6.5vw, 13rem);
  color: $clr-white;
  line-height: 0.8;
}
h2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  color: $clr-tint;
}
h3 {
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: $clr-tint;
}
h4 {
  font-size: clamp(0.875rem, 2vw, 1rem);
}
p {
  margin-bottom: 1.25rem;
  font-weight: 200;
  color: $clr-white;
}
